@using System.Web.Optimization
@using System.Collections.Generic

@model OnlineElectionSystem_FYP.Models.Citizen

@{
    Layout = null;
}

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*
    @Styles.Render("~/Content/vendor/font-awesome/css/font-awesome.min.css")
    <!-- Page level plugin CSS-->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    @Styles.Render("~/Content/vendor/datatables/dataTables.bootstrap4.css")
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    @Styles.Render("~/Content/css/sb-admin.css")


    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="~/Content/js/sb-admin-datatables.min.js"></script>
    <script src="~/Content/js/sb-admin-charts.min.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="@Url.Action("Dashboard","Home")">Online Election System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="@Url.Action("Dashboard","Home")">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="CreateNewForm">
                    <a class="nav-link" href="@Url.Action("CastVote","Home")">
                        <i class="fa fa-fw fa-book"></i>
                        <span class="nav-link-text">Cast Vote</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="CreateNewForm">
                    <a class="nav-link" href="@Url.Action("ResultReports","Home")">
                        <i class="fa fa-fw fa-book"></i>
                        <span class="nav-link-text">Result and Reports</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Settings">
                    <a class="nav-link" href="@Url.Action("Settings","Home")">
                        <i class="fa fa-fw fa-gear"></i>
                        <span class="nav-link-text">Settings</span>
                    </a>
                </li>
                @if (ViewBag.UserRole == "Admin")
{
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Administration Panel</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
                <a href="@Url.Action("ManageUserProfiles","Admin")">Manage User Profiles</a>
            </li>
            <li>
                <a href="@Url.Action("ManagePoliticalParties","Admin")">Manage Political Parties</a>
            </li>
            <li>
                <a href="@Url.Action("ManageCandidates","Admin")">Manage Candidates</a>
            </li>
            <li>
                <a href="@Url.Action("VerifyCandidate","Admin")">Verfiy Candidate</a>
            </li>
            <li>
                <a href="@Url.Action("AnalyseSentiments","Admin")">Sentiments Analysis</a>
            </li>
        </ul>
    </li>
}
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler"></ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li>

                    <p style="color:white;padding-top:7px"></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="Content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <center><h3 style="color:blue"><b>Create User</b></h3></center>
            <div class="row">
                <div class="col-lg-8">
                    <hr class="mt-2">
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <!-- Example DataTables Card-->
            <form method="post" action="CreateUser">
                <div class="row">
                    <div class="col-sm-6">
                        <b>@Html.Label("Name")</b><br />
                        @Html.TextBoxFor(f => f.Name, new { required = "required", @class="form-control", @minlength = "3", @maxlength = "30" })<br />
                        @Html.ValidationMessageFor(f=>f.Name)
                    </div>
                    <div class="col-sm-6">
                        <b>@Html.Label("CNIC")</b><br />
                        @Html.TextBoxFor(f => f.CNIC, new { id = "CNIC",@class="form-control", @minlength = "15", @maxlength = "15" })<br />
                        @Html.ValidationMessageFor(f => f.CNIC)
                    </div>
                </div>
                
                
                <b>@Html.Label("Password", new { required = "required" })</b><br />
                @Html.TextBoxFor(f => f.Password, new { Value = "user1234", @class = "form-control", @minlength = "8", @maxlength = "12", type = "password", required = "required" })<br />
                @Html.ValidationMessageFor(f => f.Password)
                <div class="row">
                    <div class="col-sm-6">
                        <b>@Html.Label("Current Street Address")</b><br />
                        @Html.TextAreaFor(f => f.CurrentAddress, new { required = "required", @class = "form-control", @minlength = "2", @maxlength = "50" })<br />
                        @Html.ValidationMessageFor(f => f.CurrentAddress)
                    </div>
                   
                    <div class="col-sm-6">
                        <b>@Html.Label("Current Address Area")</b><br />
                        <select name="CurrentAreaAddress" class="form-control">
                            <option selected>--Select--</option>
                            @foreach (var item1 in (IEnumerable<OnlineElectionSystem_FYP.Models.Constituency_Locations>)ViewBag.ConstituencyLocs)
                    {
                                <option value="@item1.Id">@item1.Address</option>
                    }
                        </select>
@*                        @Html.DropDownListFor(f => f.CurrentAreaAddress, listItems,"--Select Address--",  new { required = "required", @class = "form-control", @minlength = "2", @maxlength = "50" })<br />*@
                        @Html.ValidationMessageFor(f => f.CurrentAreaAddress)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <b>@Html.Label("Permanent Street Address")</b><br />
                        @Html.TextAreaFor(f => f.PermanentAddress, new { required = "required", @class = "form-control", @minlength = "2", @maxlength = "50" })<br />
                        @Html.ValidationMessageFor(f => f.PermanentAddress)
                    </div>
                    <div class="col-sm-6">
                        <b>@Html.Label("Permanent Address Area")</b><br />
                        <select name="PermanentAreaAddress" class="form-control">
                            <option selected>--Select--</option>
                            @foreach (var item1 in (IEnumerable<OnlineElectionSystem_FYP.Models.Constituency_Locations>)ViewBag.ConstituencyLocs)
                    {
                                <option value="@item1.Id">@item1.Address</option>
                    }
                        </select>
                       @* @Html.TextAreaFor(f => f.PermanentAreaAddress, new { required = "required", @class = "form-control", @minlength = "2", @maxlength = "50" })<br />*@
                        @Html.ValidationMessageFor(f => f.PermanentAreaAddress)
                    </div>
                </div>
                <b>@Html.Label("Date Of Birth")</b><br />
                @Html.TextBoxFor(f => f.DateOfBirth, new { type = "date", required = "required",@class="form-control" })<br />
                <center>
                    <b>@Html.Label("User Type")</b><br />
                    @Html.RadioButtonFor(f => f.Type, "Admin", new { required = "required" }) Admin
                    &nbsp;@Html.RadioButtonFor(f => f.Type, "Candidate", new { required = "required" }) Candidate
                    &nbsp;@Html.RadioButtonFor(f => f.Type, "Voter", new { required = "required" }) Voter

                    <br /><input type="submit" value="Save" class="btn btn-success" style="width:100px" />
                </center>
            </form>

        </div>
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Election Commission of Pakistan 2017</small>
                </div>
            </div>
        </footer>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
            </>a
            <!-- Logout Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-Content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="@Url.Action("Logout","Home")">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bootstrap core JavaScript-->

    </div>
    <script type="text/javascript">

        $('#CNIC').keydown(function () {

            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length == 5 || length == 13)
                $(this).val($(this).val() + '-');

        });
    </script>
</body>

</html>
